<template>
    <nav>
        <div class="nav-container">
            <div id="logo">
                <router-link to="/">
                    <img src="https://cdn.pixabay.com/photo/2020/06/24/05/29/tree-5334822__340.png" alt="logo" />
                </router-link>
            </div>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Disconnection</a>
              </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'Navbar',
}
</script>

<style></style>
