<template>
    <div>
        <Navbar />
    </div>
  <router-view></router-view>
</template>

<script>
import Navbar from '../../components/Navbar.vue'

export default {
    name: 'Admin',
    components: {
      Navbar,
    }
}
</script>

<style>

</style>