<template>
    <div class="home-container">
        <h1>Products</h1>
        <button
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            type="button"
            class="btn btn-outline-primary"
            @click="addClick()"
        >
            Add
        </button>

        <div class="card-cart-container">
            <div class="card-container">
                <div v-for="product in products" :key="product.id" class="card">
                    <div class="img-container">
                        <router-link :to="{ name: 'Product', params: {id: product.id}}">
                            <img v-bind:src="product.img" />
                        </router-link>
                    </div>

                    <div class="card-text">
                        <h3>{{ product.title }}</h3>
                        <span>{{ product.sale_price }}FCFA</span>
                    </div>

                    <div class="card-icons">
                        <div class="like-container">
                            <button
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                @click="editProd(product)"
                            >
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>

                        <div class="add-to-cart">
                            <button @click="deleteProduct(product.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ modalTitle }}
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="input1"
                                >@Title</span
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Title"
                                aria-label="Title"
                                aria-describedby="input1"
                                v-model="productTitle"
                            />
                        </div>
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="input1"
                                >@Price</span
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Price"
                                aria-label="Price"
                                aria-describedby="input1"
                                v-model="productPrice"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 col">
                            <span class="input-group-text" id="input1"
                                >@Description</span
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Description..."
                                aria-placeholder="Description"
                                aria-describedby="input1"
                                v-model="productDesciption"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col">
                            <h5>Measure</h5>
                            <select
                                v-model="measureId"
                                class="form-select"
                                aria-label="Default select example"
                            >
                                <option
                                    
                                    v-for="mes in measuresList"
                                    :key="mes.id"
                                    :value="mes.id"
                                >
                                    {{ mes.measure }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3 col">
                            <h5>category</h5>
                            <select
                                v-model="categoryId"
                                class="form-select"
                                aria-label="Default select example"
                            >
                                category
                                <option
                                    :key="c.id"
                                    v-for="c in categoriesList"
                                    :value="c.id"
                                >
                                    {{ c.title }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3 col">
                            <h5>Brand</h5>
                            <select
                                v-model="brandId"
                                class="form-select"
                                aria-label="Default select example"
                            >
                                <option value="1" selected>Brand</option>
                            </select>
                        </div>
                    </div>

                    <button
                        type="button"
                        @click="createClick()"
                        v-if="productId == 0"
                        class="btn btn-primary"
                    >
                        Create
                    </button>
                    <button
                        type="button"
                        @click="updateClick()"
                        v-if="productId != 0"
                        class="btn btn-primary"
                    >
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue'
export default {
    name: 'Products',

    setup() {
        const products = ref([])
        const productId = ref(0)

        const categoriesList = ref([])
        const categoryId = ref('')

        const measuresList = ref([])
        const measureId = ref('')

        const brandList = ref([])
        const brandId = ref('3')

        const productTitle = ref('')
        const productPrice = ref('')
        const productDesciption = ref('')
        const modalTitle = ref('')

        const products_url = process.env.API_URL_PRODUCTS
        const categories_url = process.env.API_URL_CATEGORIES
        const measures_url = process.env.API_URL_MEASURES

        onMounted(async () => {
            try {
                const res = await fetchReq(products_url, 'GET')
                const result = await res.json()
                products.value = result.products.data
            } catch (error) {
                console.log(error)
            }
        })
        onMounted(async () => {
            try {
                const res = await fetchReq(categories_url, 'GET')
                const result = await res.json()
                categoriesList.value = result.categories.data
            } catch (error) {
                console.log(error)
            }
        })
        onMounted(async () => {
            try {
                const res = await fetchReq(measures_url, 'GET')
                const result = await res.json()
                measuresList.value = result.productsmeasures
            } catch (error) {
                console.log(error)
            }
        })

        const fetchReq = (url, method, body = null) => {
            return fetch(url, {
                method: method,
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                    Authorization: 'Bearer ' + process.env.ACCESS_TOKEN,
                },
                body: body,
            })
        }


        const addClick = () => {
            modalTitle.value = 'Add Product'
            productId.value = 0
            productTitle.value = ''
            productDesciption = ''
            productPrice.value = ''
            categoryId.value = ''
            measureId.value = ''
            brandId.value = ''
        }
        const editProd = (product) => {
            modalTitle.value = 'Edit Product'
            productId.value = product.id

            productTitle.value = product.title
            productPrice.value = product.sale_price
            productDesciption.value = product.description
            categoryId.value = product.category_id
            measureId.value = product.measure_id
            brandId.value = product.brand_id
        }

        const createClick = async () => {
            const newPro = {
                "title": productTitle.value,
                "description": productDesciption.value,
                "sale_price": productPrice.value,
                "brand_id": brandId.value,
                "measure_id": measureId.value,
                "category_id": categoryId.value
            }
            try {
                const res = await fetchReq(products_url, 'POST', JSON.stringify(newPro))
                const result = await res.json()
                alert('Product added succefully!')
                productTitle.value = ''
                productPrice.value = ''
                productDesciption.value = ''
                categoryId.value = ''
                measureId.value = ''
                brandId.value = ''
            } catch (error) {
                console.log(error.message)
            }
        }
        const updateClick = async () => {
            const isUpdated = {
                "title": productTitle.value,
                "description": productDesciption.value,
                "sale_price": productPrice.value,
                "brand_id": brandId.value,
                "measure_id": measureId.value,
                "category_id": categoryId.value
            }
            try {
                const res = await fetchReq(products_url+'/'+productId.value, 'PATCH', JSON.stringify(isUpdated))
                const result = res.json()
                    alert('Product updated')
            } catch (error) {
                console.log(error)
            }
            
        }
       
        const deleteProduct = async (id) => {
            if (!confirm('Are you sure?')) {
                return
            }
            try {
                 await fetchReq(products_url+'/'+id, 'DELETE')
                products.value = products.value.filter(p => p.id != id)
            } catch (error) {
                console.log(error)
            }
        }

        return {
            products,
            productId,
            categoryId,
            categoriesList,
            brandList,
            brandId,
            measuresList,
            measureId,
            productDesciption,
            addClick,
            editProd,
            createClick,
            modalTitle,
            productTitle,
            productPrice,
            updateClick,
            deleteProduct,
        }
    },
}
</script>

<style>
</style>
