<template>
    <div class="home-container">
        <h1>Product Template</h1>
        <div class="row d-flex justify-content-center card-container">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4">
                                    <img
                                        id="main-image"
                                        src="https://i.imgur.com/Dhebu4F.jpg"
                                        width="350"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div
                                    class="
                                        d-flex
                                        justify-content-between
                                        align-items-center
                                    "
                                >
                                    <div class="d-flex align-items-center">
                                        <i class="fa fa-long-arrow-left"></i>
                                        <span class="ml-1">Back</span>
                                    </div>
                                    <i
                                        class="fa fa-shopping-cart text-muted"
                                    ></i>
                                </div>
                                <div class="mt-4 mb-3">
                                    <span
                                        class="text-uppercase text-muted brand"
                                        >Orianz</span
                                    >
                                    <h5 class="text-uppercase">
                                        Men's slim fit t-shirt
                                    </h5>
                                    <div
                                        class="
                                            price
                                            d-flex
                                            flex-row
                                            align-items-center
                                        "
                                    >
                                        <span class="act-price">$20</span>
                                    </div>
                                </div>
                                <p class="about">
                                    Shop from a wide range of t-shirt from
                                    orianz. Pefect for your everyday use, you
                                    could pair it with a stylish pair of jeans
                                    or trousers complete the look.
                                </p>
                                  
                                <div class="cart mt-4 align-items-center">
                                    <button
                                        class="
                                            btn btn-danger
                                            text-uppercase
                                            mr-2
                                            px-4
                                        "
                                    >
                                        BUY
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from '@vue/runtime-core'
import { useRouter, useRoute } from 'vue-router'

export default {
    name: 'Product',

    setup() {
        const product = ref({})
        const router = useRouter()
        const route = useRoute()

        onMounted(async () => {
            try {
                const res = await fetch(
                    process.env.API_URL_PRODUCTS + '/' + route.params.id,
                    {
                        method: 'GET',
                        mode: 'cors',
                        headers: {
                            'Content-Type': 'application/json',
                            Authorization: 'Bearer ' + process.env.ACCESS_TOKEN,
                        },
                    }
                )
                //const result = await res.json()
                console.log(res)
                //product.value = result.product
            } catch (error) {
                console.log(error.message)
            }
        })

        return { product }
    },
}
</script>

<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
</style>
  
      
      <!-- Custom styles for this template -->
      <style>
.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #8e8e8e;
    transition: color 0.15s ease-in-out;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
   * Dummy devices (replace them with your own or something else entirely!)
   */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: '';
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

/*
   * Extra utilities
   */

.flex-equal > * {
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}
</style>